@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/nord.css';
body {
  font-family: Roboto, 'sans-serif';
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e3440;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  border-radius : 15px;
  transition-duration: 300ms;

}

button:hover {
  filter : brightness(90%);
  cursor : pointer;
}
button:active {
  transform : scale(96%);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
