@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/nord.css';
body {
  font-family: Roboto, 'sans-serif';
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e3440;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
